
{% extends 'baseuser.html.twig' %}

{% block title %}Demande Materiels{% endblock %}

{% block body %}


		<div class="main-panel">
			<div class="content">
		 			 <div class="page-inner">
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<div class="card-title">Demander Materiels</div>
									</div>
									<div class="card-body">
									<div class="form-group">
												{{ form_start(form) }}

												{{ form_widget(form) }}

											<div class="form-group form-floating-label">
											<select class="form-control input-border-bottom" id="selectFloatingLabel" required="">
												<option value="">&nbsp;</option>
												<option>Ordinateur</option>
												<option>Ecran</option>
												<option>Souris</option>
												<option>Clavier</option>
												<option>Clé</option>
												<option>Disque externe </option>
											</select>
											<label for="selectFloatingLabel" class="placeholder">Choisir le materiel</label>
										</div>

					<button class="btn">{{ button_label|default('Envoyer') }}</button>
					
						{{ form_end(form) }}
							</div>
										
										
									</div>
									
								</div>
								
							</div>
							
						</div>
					</div> 
					
			</div>
		</div>
				
					



   
{%endblock%}